<div class="h-screen w-full flex flex-col bg-gray-900 px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-22 w-auto" src="radixlogo.png" alt="Your Company">
        <h2 class="mt-10 text-center text-2xl/9  font-bold tracking-tight text-white">Sign in to your account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" [formGroup]="loginForm">
            <div>
                <label for="email" class="block text-sm/6 font-medium text-white">Username</label>
                <div class="mt-2">
                    <input type="email" name="email" id="email" autocomplete="email" placeholder="john.doe"
                        formControlName="UserName"
                        class="block w-full rounded-md bg-gray-800 px-3 py-1.5 text-white outline-1 -outline-offset-1 outline-gray-600 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
                <span *ngIf="loginForm.get('UserName')?.hasError('required') && flag" class="text-red-500 px-2">Username
                    is required.</span>
            </div>

            <div>
                <label for="password" class="block text-sm/6 font-medium text-white">Password</label>
                <div class="mt-2">
                    <input type="password" name="password" id="password" autocomplete="current-password"
                        formControlName="PasswordHash" placeholder="password"
                        class="block w-full rounded-md bg-gray-800 px-3 py-1.5 text-white  outline-1 -outline-offset-1 outline-gray-600 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
                <span *ngIf="loginForm.get('PasswordHash')?.hasError('required') && flag"
                    class="text-red-500 px-2">Password is required.</span>
            </div>

            <div>
                <button type="submit" (click)="login()"
                    class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
                    in</button>
            </div>
        </form>
        <span *ngIf="errorMessage"
            class="text-red-500 px-2 flex justify-center py-5 font-medium">{{errorMessage}}</span>
    </div>
</div>

<!-- <ngx-spinner type="ball-scale-multiple"></ngx-spinner> -->
