<app-navbar></app-navbar>

<div class="text-white flex flex-col items-center mt-10 px-5">
    <div class="w-full max-w-7xl overflow-x-auto bg-gray-800 rounded-lg shadow-lg">
        <div class="flex justify-between px-6 py-3 bg-indigo-500 text-black rounded-t-lg">
            <h2 class="font-bold text-xl">Employee List</h2>
            <button *ngIf="authService.roleMethod() == 'Admin'" [routerLink]="['/register']"
                class="bg-transparent hover:bg-gray-700 hover:text-indigo-500 border border-transparent hover:border-gray-600 px-2 py-1 rounded mx-1 transition duration-300 ease-in-out">
                <i class="fa-solid fa-user-plus"></i> Add Employee
            </button>
        </div>
        <table class="w-full border border-gray-700 rounded-md text-center">
            <thead class="bg-gray-800 text-white uppercase text-sm sticky top-0">
                <tr>
                    <th class="px-6 py-3 border-b border-gray-600">EmpId</th>
                    <th class="px-6 py-3 border-b border-gray-600">Name</th>
                    <th class="px-6 py-3 border-b border-gray-600">Username</th>
                    <th class="px-6 py-3 border-b border-gray-600">Email</th>
                    <th class="px-6 py-3 border-b border-gray-600">Department</th>
                    <th class="px-6 py-3 border-b border-gray-600">Joining Date</th>
                    <th *ngIf="authService.roleMethod() == 'Admin'" class="px-6 py-3 border-b border-gray-600">Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of employees" class="odd:bg-gray-700 even:bg-gray-600 ">
                    <td class="px-6 py-3 border-b border-gray-600">{{ item.empId }}</td>
                    <td class="px-6 py-3 border-b border-gray-600">{{ item.empName }}</td>
                    <td class="px-6 py-3 border-b border-gray-600">{{ item.userName }}</td>
                    <td class="px-6 py-3 border-b border-gray-600">{{ item.email }}</td>
                    <td class="px-6 py-3 border-b border-gray-600">{{ item.department }}</td>
                    <td class="px-6 py-3 border-b border-gray-600">{{ item.joiningDate | date }}</td>
                    <td *ngIf="authService.roleMethod() == 'Admin'" class="px-6 py-3 border-b min-w-40 border-gray-600">
                        <button
                            class="bg-transparent hover:bg-gray-700 text-yellow-500 hover:text-yellow-700 border border-transparent hover:border-gray-600 px-2 py-1 rounded mx-1 transition duration-300 ease-in-out"
                            (click)="editEmp(item.empId)">
                            <i class="fa-solid fa-user-pen"></i> Edit
                        </button>
                        <button
                            class="bg-transparent hover:bg-gray-700 text-red-500 hover:text-red-700 border border-transparent hover:border-gray-600 px-2 py-1 rounded mx-1 transition duration-300 ease-in-out"
                            (click)="deleteEmp(item.empId)">
                            <i class="fa-solid fa-user-minus"></i> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination Section -->
    <div class="flex items-center gap-8 m-5">
        <!-- Previous Button -->
        <button (click)="previousPage()" [disabled]="pageNumber <= 1"
            class="rounded-md border border-slate-300 p-2.5 text-center text-sm transition-all shadow-sm hover:shadow-lg text-white hover:text-white hover:bg-slate-800 hover:border-slate-800 focus:text-white focus:bg-slate-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                <path fill-rule="evenodd"
                    d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z"
                    clip-rule="evenodd" />
            </svg>
        </button>

        <!-- Page Info -->
        <p class="text-gray-400">
            Page <strong class="text-white font-bold">{{pageNumber}}</strong> of&nbsp;<strong
                class="text-white font-bold">{{totalPage}}</strong>
        </p>

        <!-- Next Button -->
        <button (click)="nextPage()" [disabled]="pageNumber == totalPage"
            class="rounded-md border border-slate-300 p-2.5 text-center text-sm transition-all shadow-sm hover:shadow-lg text-white hover:text-white hover:bg-slate-800 hover:border-slate-800 focus:text-white focus:bg-slate-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                <path fill-rule="evenodd"
                    d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z"
                    clip-rule="evenodd" />
            </svg>
        </button>
    </div>
</div>